<div class="container">
  <div class="row">
    <h3>新規会員登録</h3>

    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">新規会員登録</h4>
        <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="familyName">姓</label>
              <input type="text" class="form-control" id="familyName" placeholder="" value="" required>
              <div class="invalid-feedback">
                名字を入力してください
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="givenName">名</label>
              <input type="text" class="form-control" id="givenName" placeholder="" value="" required>
              <div class="invalid-feedback">
                名前を入力してください
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Eメール</label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
            <div class="invalid-feedback">
              配送の更新に有効なメールアドレスを入力してください
            </div>
          </div>

          <div class="mb-3">
            <label for="address">住所</label>
            <input type="text" class="form-control" id="address" placeholder="地番" required>
            <div class="invalid-feedback">
              配送先住所を入力してください
            </div>
          </div>

          <div class="mb-3">
            <label for="address2">住所 2 <span class="text-muted">(任意)</span></label>
            <input type="text" class="form-control" id="address2" placeholder="アパート・マンション名">
          </div>

          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="pref">都道府県</label>
              <select class="custom-select d-block w-100" id="pref" required>
                <option>選択...</option>
                <option>北海道</option>
              </select>
              <div class="invalid-feedback">
                都道府県を選択してください
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="city">市町村</label>
              <select class="custom-select d-block w-100" id="city" required>
                <option>選択...</option>
                <option>札幌市</option>
              </select>
              <div class="invalid-feedback">
                市町村を選択してください
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="zip">郵便番号</label>
              <input type="text" class="form-control" id="zip" placeholder="" required>
              <div class="invalid-feedback">
                郵便番号を入力してください
              </div>
            </div>
          </div>


<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :family_name %><br />
    <%= f.text_field :family_name, autofocus: true, autocomplete: "family_name" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :family_name_kana %><br />
    <%= f.text_field :family_name_kana, autofocus: true, autocomplete: "family_name_kana" %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana %><br />
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "customers/shared/links" %>
