<h2>商品　詳細画面</h2>

<%= attachment_image_tag @item, :image, :fill, 230, 170, format: 'jpeg' %>

<div>
	<span>商品名</span>
	<span><%= @item.name %></span>
</div>
<div>
	<span>商品説明</span>
	<span><%= @item.caption %></span>
</div>
<div>
	<span>ジャンル</span>
	<span><%= @item.category.name %></span>
</div>
<div>
	<span>税込価格（税抜価格）</span>
	<span><%= @item.zeikomi %>（<%= @item.price %>）円</span>
</div>
<div>
	<span>販売ステータス</span>
	<span><%= @item.status %></span>
</div>

<%= link_to '編集する', edit_admin_item_path(@item) %>