<h2>会員詳細画面</h2>

<table>
	<tr>
		<td>
			<p>顧客ID</p>
		</td>
		<td>
			<p>
				<%= @customer.id %> <span><%= @customer.status %></span>会員
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>氏名</p>
		</td>
		<td>
			<p>
				<%= @customer.family_name %> <%= @customer.first_name %>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>フリガナ</p>
		</td>
		<td>
			<p>
				<%= @customer.family_name_kana %> <%= @customer.first_name_kana %>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>郵便番号</p>
		</td>
		<td>
			<P>
				<%= @customer.postal_code %>
			</P>
		</td>
	</tr>
	<tr>
		<td>
			<p>住所</p>
		</td>
		<td>
			<P>
				<%= @customer.address %>
			</P>
		</td>
	</tr>
	<tr>
		<td>
			<P>電話番号</P>
		</td>
		<td>
			<p>
				<%= @customer.phone %>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>メールアドレス</p>
		</td>
		<td>
			<p>
				<%= @customer.email %>
			</p>
		</td>
	</tr>
</table>

<%= link_to '編集する', edit_admin_customer_path(@customer), class: "btn btn-primary" %>
<%= link_to '注文履歴一覧を見る',  admin_orders_path, class: "btn btn-primary" %>

