<div class="container">
	<h2 class="font-weight-bold">会員詳細画面</h2>

	<div class="row">
		<div class="col-md-6">
			<table class="table table-borderless ">
				<tr>
					<td>顧客ID</td>
					<td>
						<%= @customer.id %>    <span class="bg-info"><%= @customer.status %>会員</span>
					</td>
				</tr>
				<tr>
					<td>氏名</td>
					<td>
						<%= @customer.full_name %>
					</td>
				</tr>
				<tr>
					<td>フリガナ</td>
					<td>
						<%= @customer.family_name_kana %> <%= @customer.first_name_kana %>
					</td>
				</tr>
				<tr>
					<td>郵便番号</td>
					<td>
						<%= @customer.postal_code %>
					</td>
				</tr>
				<tr>
					<td>住所</td>
					<td>
						<%= @customer.address %>
					</td>
				</tr>
				<tr>
					<td>電話番号</td>
					<td>
						<%= @customer.phone %>
					</td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td>
						<%= @customer.email %>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<%= link_to '編集する', edit_admin_customer_path(@customer), class: "btn btn-primary" %>
	<%= link_to '注文履歴一覧を見る',  admin_orders_path(customer_id: @customer.id), class: "btn btn-primary", style: "margin-left: 15px;" %>

</div>