<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="mb-4 ml-4">配送先編集</h3>
      <%= form_for(@delivery) do |f| %>
      <div class="form-group row">
        <%= f.label :'郵便番号（ハイフンなし）', class: "col-md-3 col-form-label" %>
        <div class="col-md-3">
          <%= f.text_field :postal_code, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :住所, class: "col-md-3 col-form-label" %>
        <div class="col-md-6">
          <%= f.text_area :address, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :宛名, class: "col-md-3 col-form-label" %>
        <div class="col-md-6">
          <%= f.text_field :postal_code, class: "form-control" %>
        </div>
        <div class="col-md-3 text-md-left">
          <%= f.submit '編集する', class: "btn btn-primary ml-3" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
