<div class="container">
	<h2 class="mb-4">注文履歴一覧</h2>
	<div class="row">
		<table class="table table table-bordered table-sm">
			<thead class="thead-light">
				<tr>
					<th style="width: 13%;">注文日</th>
					<th style="width: 38%;">配送先</th>
					<th style="width: 20%;">注文商品</th>
					<th style="width: 9%;">支払い金額</th>
					<th style="width: 10%;">ステータス</th>
					<th style="width: 10%;">注文詳細</th>
				</tr>
			</thead>
			<% @orders.each do |order| %>
				<tbody>
					<tr>
						<td class="align-middle">
							<%= order.created_at.strftime('%Y/%m/%d') %>
						</td>
						<td class="align-middle">
							<%= order.postal_code %><br>
							<%= order.address %><br>
							<%= order.name %>
						</td>
						<td class="align-middle">
							<% order.items.each do |item| %>
								<%= item.name %><br>
							<% end %>
						</td>
						<td class="align-middle">
							<%= (order.total_price*1.1+order.postage).round(0) %>円
						</td>
						<td class="align-middle">
							<%= order.status %>
						</td>
						<td class="align-middle text-center">
							<%= link_to '表示する', order_path(order), class: "btn btn-primary" %>
						</td>
					</tr>
				</tbody>
		  	<% end %>
		</table>
	</div>
</div>