<div class="container">
	<h2>会員</h2>
	<% if @customers.blank? %>
		<p>検索結果が存在しません</p>
	<% else %>
		<div class="row">
			<div class="col-md-10 mx-auto">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th>会員ID</th>
							<th>氏名</th>
							<th>メールアドレス</th>
							<th>ステータス</th>
						</tr>
					</thead>
					<% @customers.each do |customer| %>
					<tbody>
						<tr>
							<td>
								<%= customer.id %>
							</td>
							<td>
								<%= link_to admin_customer_path(customer) do %>
								<%= customer.family_name %> <%= customer.first_name %>
								<% end %>
							</td>
							<td>
								<%= customer.email %>
							</td>
							<td>
								<%= customer.status %>
							</td>
						</tr>
					</tbody>
					<% end %>
				</table>
			</div>
		</div>
	<% end %>

	<h2 class="mt-5">商品</h2>
	<% if @items.blank? %>
		<p>検索結果が存在しません</p>
	<% else %>
		<div class="row">
			<div class="col-md-10 mx-auto">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th>商品ID</th>
							<th>商品名</th>
							<th>税抜価格</th>
							<th>ジャンル</th>
							<th>ステータス</th>
						</tr>
					</thead>
				  <% @items.each do |item| %>
					  <% if item.category.status == '有効' %>
						<tbody>
							<tr>
								<td>
									<%= item.id %>
								</td>
								<td>
									<%= link_to item.name, admin_item_path(item) %>
								</td>
								<td>
									<%= item.price %>
								</td>
								<td>
									<%= item.category.name %>
								</td>
								<td>
									<%= item.status %>
								</td>
							</tr>
						</tbody>
					  <% end %>
				  <% end %>
				</table>
			</div>
		</div>
	<% end %>
</div>