 <header>
  <div class="col-xs-2">
    <div>LOGO</div>
  </div>
  <div class="col-xs-10">
    <div id="slidemenu">
      <ul class="nav navbar-nav navbar-right">
        <% if admin_signed_in? %>
          <li class="">
            <%= link_to '商品一覧', admin_items_path %>
          </li>
          <li class="">
            <%= link_to '会員一覧', admin_customers_path %>
          </li>
          <li class ="">
            <%= link_to '注文履歴一覧', admin_orders_path %>
          </li>
          <li class ="">
            <%= link_to 'ジャンル管理', admin_categories_path %>
          </li>
          <li class="">
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>