<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
  </head>

  <body>

    <% if request.url.include?("admin") %>
      <%= render 'layouts/admin_header' %>
    <% else %>
      <%= render 'layouts/customer_header' %>
    <% end %>

    <%= yield %>

    <% unless request.url.include?("admin") %>
      <footer class="fixed-bottom mb-3">
              <div class="row text-right mr-auto">
                <div class="col-12">
                  <i class="fa fa-facebook-square fa-2x text-muted"></i>
                  <i class="fa fa-twitter-square fa-2x text-muted"></i>
                  <i class="fa fa-instagram fa-2x text-muted"></i>
                </div>
              </div>
      </footer>
   <% end %>

  </body>
</html>
